

.product-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.956);
}

.logout{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button {
  padding: 8px 16px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.basket{
  position: absolute;
  top: 10px;
  right: 100px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.basket-button{
  padding: 8px 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.basket-item{
  color: red;
  
}

.add-to-basket{
  margin-top: auto;
  align-self: flex-end;
  padding: 8px 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}